header {
  margin: auto;
  text-align: center;
  width: 45%;
  border: 1px solid blue;
}

div {

}

.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

section {

  width: 38%;
  margin-left: 10%;
}
